<!doctype html>
<html>
  <head>
    <title>Welcome to Perron</title>
    <meta charset="utf-8">
  </head>

  <body>
    <h1>Welcome to Perron</h1>

    <ul>
      <li>Create a collection: <code>bin/rails generate content Post</code></li>
      <li>Create your first content: <code>bin/rails generate content Post --new "My first post"</code></li>
      <li>Run the server: <code>bin/dev</code></li>
      <li>Deploy your site: <code>bin/rails perron:deploy</code></li>
    </ul>

    <ul>
      <li>
        <h2>Docs</h2>

        <p>Visit the docs for more details: <a href="https://perron.railsdesigner.com">perron.railsdesigner.com</a></p>
      </li>

      <li>
        <h2>Library</h2>

        <p>Check out the library for resources: <a href="https://perron.railsdesigner.com/libray/">perron.railsdesigner.com/libray/</a></p>
      </li>

      <li>
        <h2>GitHub</h2>

        <p>Check out Perron's source: <a href="https://github.com/Rails-Designer/perron">github.com/Rails-Designer/perron</a></p>
      </li>
    </ul>
  </body>
</html>
