class Content::<%= plural_class_name %>Controller < ApplicationController
<%- if actions.include?("index") -%>
  def index
    @resources = Content::<%= class_name %>.all
  end
<%- if actions.include?("show") -%>

<%- end -%>
<%- end -%>
<%- if actions.include?("show") -%>
  def show
    @resource = Content::<%= class_name %>.find!(params[:id])
<%- if options[:inline] -%>

    render @resource.inline
<%- end -%>
  end
<%- end -%>
end
