class Content::<%= class_name %> < Perron::Resource
<% if data_sources? -%>
  sources <%= data_sources.map { ":#{it}" }.join(", ") %>

  def self.source_template(sources)
    <<~MARKDOWN
    ---
    ---

    MARKDOWN
  end
<% end -%>
end
