Perron.configure do |config|
  # For all options check out:
  # https://perron.railsdesigner.com/docs/configuration/

  # The build mode for Perron. Can be :standalone (SSG, default) or :integrated (alongside your Rails app)
  # config.mode = :standalone

  # Enable Live Reload with DOM Morphing in development
  # config.live_reload = true

  # config.default_url_options = {host: "spinalcms.com", protocol: "https", trailing_slash: true}

  # The options hash is passed directly to the chosen library
  # config.markdown_options = {}

  # config.site_name = "Spinal CMS"

  # Set meta title suffix
  # config.metadata.title_suffix = nil
  # config.metadata.title_separator = " — "

  # Set default meta values
  # config.metadata.description = "A headless CMS for static sites. Content meets status quo."
  # config.metadata.author = "Spinal CMS Team"
end
